---
import Accordion from "./Accordion.svelte";
---

<section class="flex flex-col items-center gap-10 px-4" id="faq">
  <div class="center flex text-center">
    <h2 class="text-3xl font-bold">Часто задаваемые вопросы</h2>
  </div>
  <div class="grid max-w-[960px] grid-cols-1 gap-11">
    <!-- Question 1: Почему мне нужно это приложение? -->
    <Accordion title={"Почему мне нужно это приложение?"} client:visible>
      <p class="pt-4">
        Мобильное приложение Сами значительно ускоряет процесс подбора и аренды
        спецтехники, такой как автокраны, экскаваторы и самосвалы. Добавление
        метки занимает менее одной минуты, что позволяет быстро находить нужную
        строительную технику или заказы в вашем регионе. Добавление заказа
        занимает менее 1 минуты.
      </p>
    </Accordion>

    <!-- Question 2: Как заказать технику в приложении? -->
    <Accordion title={"Как заказать технику в приложении?"} client:visible>
      <ol class="pt-4">
        <li>
          Нажмите на
          <span
            class="mx-1 inline-block rounded-full bg-accent px-2 text-white"
          >
            +
          </span>
        </li>
        <li>Поставьте метку на карте, куда необходима техника.</li>
        <li>Выберите нужную категорию техники.</li>
        <li>Вы можете добавить описание и фото к заказу.</li>
        <li>Нажмите на кнопку «Сохранить».</li>
        <li>Ожидайте звонка исполнителя.</li>
      </ol>
    </Accordion>

    <!-- Question 3: Как сдать в аренду технику через приложение? -->
    <Accordion
      title={"Как сдать в аренду технику через приложение?"}
      client:visible
    >
      <ol class="pt-4">
        <li>
          Нажмите на
          <span
            class="mx-1 inline-block rounded-full bg-accent px-2 text-white"
          >
            +
          </span>
        </li>
        <li>
          Поставьте метку на карте или укажите адрес на карте, где бы вы хотели,
          чтобы вашу технику видели заказчики.
        </li>
        <li>Выберете категорию техники, которую добавляете на карту.</li>
        <li>
          Обязательно добавьте фото и описание. Это даст возможность заказчику
          ознакомиться с вашим предложением и выбрать именно Вас.
        </li>
      </ol>
    </Accordion>

    <!-- Question 4: Я исполнитель, но мне нужно заказать спецтехнику. Могу ли я это сделать? -->
    <Accordion
      title={"Я исполнитель, но мне нужно заказать спецтехнику. Могу ли я это сделать?"}
      client:visible
    >
      <p class="pt-4">
        Конечно! При нажатии на
        <span class="mx-1 inline-block rounded-full bg-accent px-2 text-white">
          +
        </span>
        выберите пункт - «Добавить заказ», выберите необходимую категорию техники,
        добавьте описание заказа. При необходимости измените свой номер телефона
        на номер заказчика в нижнем поле. Выберите необходимое место на карте и нажмите
        кнопку «Далее». Это позволяет легко переключаться между ролями заказчика
        и исполнителя, обеспечивая максимальную гибкость в использовании приложения.
      </p>
    </Accordion>

    <!-- Question 5: Что мне нужно знать, прежде чем скачать приложение? -->
    <Accordion
      title={"Что мне нужно знать, прежде чем скачать приложение?"}
      client:visible
    >
      <p class="pt-4">
        Мобильное приложение Сами создано для того, чтобы заказчики и
        исполнители быстрее находили друг друга и сотрудничали на более выгодных
        условиях.
      </p>
      <p>Что это значит?</p>
      <ol>
        <li>Удобное создание меток на карте в два шага.</li>
        <li>Доступ ко всей базе заказчиков и исполнителей.</li>
        <li>Удобный поиск меток на карте.</li>
      </ol>
      <p>
        Приложение Сами позволяет быстро находить и арендовать различную
        спецтехнику, включая автокраны, экскаваторы, самосвалы и автовышки, что
        значительно упрощает организацию строительных и других работ.
      </p>
      <p>Попробуйте Сами.</p>
    </Accordion>

    <!-- Question 6: Какие категории техники доступны в приложении? -->
    <Accordion
      title={"Какую спецтехнику можно заказать в приложении?"}
      client:visible
    >
      <p class="py-4">
        Приложение Сами предлагает аренду широкого спектра спецтехники и
        строительного оборудования. Вот полный список доступных категорий:
      </p>

      <ul>
        <li>
          Грузоподъемная техника: автокраны, манипуляторы, автовышки (18 метров,
          22 метра, телескопические, коленчатые, локтевые), автогидроподъемники
        </li>

        <li>
          Землеройная техника: экскаваторы (включая мини-экскаваторы,
          экскаваторы-погрузчики, на пневмоходу и гусеничном ходу), бульдозеры,
          грейдеры
        </li>

        <li>
          Погрузочная техника: фронтальные погрузчики, мини-погрузчики, вилочные
          погрузчики Самосвалы и грузовой транспорт: самосвалы, длинномеры,
          тралы низкорамные, автовозы, фургоны (до 2, 5 и 20 тонн), тонары
        </li>

        <li>
          Дорожно-строительная техника: катки, грейдеры, асфальтоукладчики
        </li>

        <li>
          Бурильное оборудование: бурильно-крановые машины, буровые установки
        </li>

        <li>Бетонная техника: бетононасосы, бетоновозы, цементовозы</li>

        <li>
          Коммунальная и специальная техника: ассенизаторы-илососы, коммунальная
          техника, эвакуаторы (в том числе грузовые), ломовозы, бункеровозы
        </li>

        <li>Сельскохозяйственная техника: тракторы, мотоблоки, триммеры</li>

        <li>Пассажирский транспорт: микроавтобусы, автобусы, лимузины</li>

        <li>Вспомогательное оборудование: генераторы, "бара, плуг"</li>
      </ul>

      Особое внимание уделяется наиболее востребованным категориям:

      <ul>
        <li>Автокраны: широкий выбор по грузоподъемности и вылету стрелы</li>

        <li>
          Автовышки: различные типы (телескопические, коленчатые, локтевые) и
          высоты подъема (18 метров, 22 метра и другие)
        </li>

        <li>
          Экскаваторы: от компактных мини-экскаваторов до мощных гусеничных
          моделей
        </li>

        <li>
          Погрузчики: фронтальные, мини-погрузчики и специализированные модели
        </li>

        <li>
          Самосвалы: различной грузоподъемности для любых строительных задач
        </li>

        <li>
          Манипуляторы: универсальное решение для погрузки-разгрузки и перевозки
        </li>
      </ul>
    </Accordion>

    <p class="py-4">
      Независимо от того, нужен ли вам трактор для сельхозработ, автовышка с
      водителем для монтажных работ или услуги квалифицированного
      экскаваторщика, вы найдете подходящую технику в нашем приложении. Цены на
      аренду конкурентоспособны, а заказать любую спецтехнику можно быстро и
      удобно, всего за несколько кликов.
    </p>
  </div>

  <!-- Question 7: В каких городах доступно приложение? -->
  <Accordion title={"В каких городах доступно приложение?"} client:visible>
    <p class="py-4">
      Приложение Сами доступно для использования на всей территории Российской
      Федерации. Это означает, что вы можете арендовать необходимую спецтехнику
      в любом регионе страны, от крупных мегаполисов до небольших городов. Наша
      цель - обеспечить удобный доступ к аренде строительной техники и
      оборудования везде, где это необходимо. Будь то автокран в Москве,
      экскаватор-погрузчик в Воронеже или автовышка в Липецке - приложение Сами
      поможет вам найти нужную технику быстро и эффективно. Широкая география
      покрытия позволяет: Арендовать спецтехнику даже в отдаленных регионах
      Находить оборудование для проектов в разных частях страны Пользоваться
      единым сервисом при переезде или расширении бизнеса в другие города Где бы
      вы ни находились в России, с приложением Сами вы всегда сможете быстро и
      удобно арендовать необходимую технику - от автогидроподъемников и
      телескопических автовышек до экскаваторов и манипуляторов.
    </p>
  </Accordion>
</section>
